body {
    background-color: lightgreen;
    background-image: url(./images/background.jpg);
    margin: 0;
}

.container {
    padding-left: 1rem;
    font-size: 24px;
    font-family: "Times New Roman", Times, sans-serif;
}

.title {
    background-color:#f89603;
    color: #fffeeb;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.subtitle {
    background-color: #fffeeb;
    color: #f89603;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

.recipes {
    display: flex;
    justify-content: center;
}

.dish img,
.recipe,
.box {
    border-radius: 25px;
    margin: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.recipe {
    background-color: #f89603;
    color: #fffeeb;
    text-align: center;
}

.dish img,
.box {
    background-color: #fffeeb;
    color: #f89603;
    padding-top: 30px;
    border: 5px ridge #f89603  
}

img {
    height: 250px;
    width: auto;    
}

.recipe img {
    border-radius: 25px;
}   

.dish img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    background-color:#f89603;
    color: #fffeeb;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
